/* CSS Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Grand+Hotel&display=swap");

/* CSS Variables */
:root {
  --clr-white: #fff;
  --clr-blue: #8aa29e;
  --clr-gray: #464545;
  --clr-gray2: #333737;
  --clr-black: #0d0a0b;
  --clr-slowGray: #d5d5d5;
  --ff-catamaran: "Catamaran", sans-serif;
  --ff-grand: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* CSS global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-catamaran);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  padding: 1.25rem;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: var(--transition);
}
.section {
  padding: 5rem 0;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: #333737;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* =============================================== Start CSS Codes ======================= */
/* ======================== 
 ========= Hero =========
 ==========================*/

.hero {
  min-height: 100vh;
  background: url(./media/background2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  padding: 0 3rem;
}
.hero-banner h1 {
  text-transform: uppercase;
}
.hero-banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.btn-hero {
  padding: 0.9rem;
  font-size: 1.25rem;
  background: var(--clr-white);
  color: #333737;
}
.btn-hero:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
  font-size: 1.25rem;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .hero {
    background: url(./media/background2.jpg) center/cover no-repeat;
  }
  .hero-banner p {
    max-width: 45rem;
    margin-bottom: 3rem;
  }
  .hero-banner {
    padding: 0;
  }
}
/* ======================== 
 ========= About =========
 ==========================*/
.about-img,
.about-info {
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: "";
    position: absolute;
    border: 0.5rem solid var(--clr-gray);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
    z-index: -1;
  }
  .about-img {
    position: relative;
  }
}
/* ======================== 
 ========= Services =========
 ==========================*/
.services {
  background: #8aa29e;
}
.service {
  text-align: center;
  margin-bottom: 3rem;
}
.service-icon {
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service-text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 576px) {
  .service-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .service {
    flex: 0 0 calc(33.333% - 1rem);
  }
}
@media screen and (min-width: 1170px) {
  .service {
    display: flex;
    text-align: left;
  }
  .service-icon {
    align-self: start;
  }
  .service-info {
    padding-left: 1rem;
  }
  .section-title {
    margin-bottom: 0.5rem;
  }
}
/* ======================== 
 ========= Featured Tour =========
 ==========================*/
.tour-card {
  transition: var(--transition);
  background: #464545;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.tour-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.tour-img-container {
  position: relative;
  overflow: hidden;
}
.tour-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.tour-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #d5d5d5;
  margin-bottom: 0;
  color: #333737;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}
.tour-info {
  padding: 1.25rem 1.5rem;
}
.tour-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.tour-footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #0d0a0b;
}
.tour-btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .featured-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tour-card {
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1170px) {
  .tour-card {
    flex: 0 0 calc(33.333% - 2rem);
  }
}
/* ======================== 
 ========= Contact =========
 ==========================*/
.contact {
  background: #8aa29e;
}
.contact-items {
  display: flex;
}
.form-group {
  display: inline;
}
.input {
  padding: 0.5rem;
  border: none;
  width: 30vw;
  border-radius: 0.25rem;
}
.contact-info {
  padding-right: 2rem;
}
/* ======================== 
 ========= Gallery =========
 ==========================*/
.gallery-image {
  display: flex;
  flex-wrap: wrap;
}
.gallery-img-container {
  position: relative;
  flex: 0 0 25%;
}
.gallery-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-black);
  transition: var(--transition);
  opacity: 0;
}
.gallery-img {
  object-fit: cover;
  height: 17rem;
  transition: var(--transition);
}
.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}
.gallery-img-container:hover .gallery-img {
  opacity: 0.5;
}
/* ======================== 
 ========= Footer =========
 ==========================*/
footer {
  background: #154646;
}
.footer-link {
  color: wheat;
  padding-left: 1.5rem;
  transition: var(--transition);
}
.footer-links {
  display: flex;
  justify-content: center;
}
.footer-link:hover {
  transform: scale(1.2);
  color: antiquewhite;
}
.footer-icon {
  color: #fff;
  padding: 2rem 1rem;
  transition: var(--transition);
}
.footer-icon:hover {
  color: #0d0a0b;
}
.footer-icons {
  display: flex;
  justify-content: center;
}
.footer-text {
  text-align: center;
  color: wheat;
}
